<!DOCTYPE html>
	<html xmlns:th="htpp://www.thymeleaf.org">
		<head>
			<Object th:include="fragments/fragment :: head"></Object>
		</head>

		<body>
	
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h2>Cari Pegawai</h2>
		<div class="card-body">
		<form th:action="@{/pegawai/cari}" method="GET">
			Provinsi: <br>
			<select name="idProvinsi" id="selectprov" onchange="document.getElementById('select').value='';filter(this.value)">
				<option value="" selected>Semua Provinsi</option>
				<div th:each="provinsi : ${listProvinsi}">
					<option  th:if="${provinsi.id==idProvinsi}" selected th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
					<option  th:unless="${provinsi.id==idProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
				</div>
			    
			</select>
			<br>
			Instansi: <br>
			<select name="idInstansi" id="select">
				<option value="" selected>Semua instansi di Provinsi</option>
				<div th:each="instansi : ${listInstansi}" >
			  		<option th:if="${instansi.id==idInstansi}" selected th:data-id-prov="${instansi.provinsi.id}" th:value="${instansi.id}" th:text="${instansi.nama}+' - '+${instansi.provinsi.nama}"></option>
			  		<option th:unless="${instansi.id==idInstansi}" th:data-id-prov="${instansi.provinsi.id}" th:value="${instansi.id}" th:text="${instansi.nama}+' - '+${instansi.provinsi.nama}"></option>
			  	</div>
			</select>
			<br>
			Jabatan: <br>
			<select name="idJabatan">
				<option value="" selected>Semua jabatan</option>
				<div th:each="jabatan : ${listJabatan}">
					<option th:if="${jabatan.id==idJabatan}" selected th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
					<option th:unless="${jabatan.id==idJabatan}" th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
				</div>
			</select>
			<br><br>
			<button type="submit" class="btn btn-outline-secondary btn-md">Lihat</button>
			<br>
			<br>
		</form>
		<table id="table">
		<thead>
			<tr>
			    <th>NIP</th>
			    <th>Nama</th> 
			    <th>Tempat Lahir</th>
			    <th>Tanggal Lahir</th>
			    <th>Tahun Masuk</th>
			    <th>Nama Instansi</th>
			    <th>Jabatan</th>
		  	</tr>
	  	</thead>
	  	<tbody>
			<tr th:each="pegawai : ${listPegawai}"  >
			    <td th:text="${pegawai.nip}"></td> 
			    <td th:text="${pegawai.nama}"></td>      
			    <td th:text="${pegawai.tempatLahir}"></td>
			    <td th:text="${pegawai.tanggalLahir}"></td> 
			    <td th:text="${pegawai.tahunMasuk}"></td>      
			    <td th:text="${pegawai.instansi.nama} + ' - '+${pegawai.instansi.provinsi.nama}"></td>   
		        <td >
		            <ul>
		                <li th:each="jabatanPegawai : ${pegawai.JabatanList}">
		                    <span th:text="${jabatanPegawai.nama}"></span>
		                </li>
		            </ul>
		        </td>
			</tr>
		</tbody> 
		</table>
		<br>
		<script>
			$(document).ready( function () {
			    $('#table').DataTable();
			} );
		</script>
		<script>
		$(document).ready( function () {
			filter(document.getElementById("selectprov").value);
		} );
		function filter(keyword) {
		    var select = document.getElementById("select");
		    for (var i = 1; i < select.length; i++) {
		        var txt = select.options[i].getAttribute('data-id-prov');
		        var include = txt.startsWith(keyword); 
		        select.options[i].style.display = include ? 'list-item':'none';
		    }
		}
	</script>
	</body>
</html>