<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
    
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                       <h1>Ubah Jabatan</h1>
                    </div>
                    <div class="card-body">
   					  <div class="container">
					      <form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
					       <input type="hidden" name="id" th:value="${jabatan.id}"/>
					         <div class="form-group">
						          <label for="nama">Nama</label>
						          <input type="text" class="form-control" name="nama" th:value="*{nama}" aria-describedby="emailHelp" required="required" placeholder="Enter nama">
						      </div>
					         <div class="form-group">
					          	<label for="deskripsi">Deskripsi</label>
					          	<input type="text" class="form-control" name="deskripsi" th:value="*{deskripsi}" aria-describedby="emailHelp" required="required" placeholder="Enter Deskripsi">
					         </div>
					         <div class="form-group">
					          	<label for="gajiPokok">Gaji Pokok</label>
					          	<input type="number" class="form-control" name="gajiPokok" th:value="*{gajiPokok}" aria-describedby="emailHelp" required="required" placeholder="Enter Gaji Pokok">
	        				 </div>
	        
          </div>
          </div>
          </div>
          </div>
       <button value="submit" class="btn btn-primary">Simpan</button>
    </form>
    </center>
</body>
</html>

