<!DOCTYPE html>
	<html xmlns:th="htpp://www.thymeleaf.org">
		<head>
			<title>Home</title>
		</head>

		<body>
			<h2>Sistem Informasi Pegawai</h2>
			<h3>Selamat Datang di Sistem Informasi Kepegawaian</h3>
			
			<h2>Lihat Data Pegawai berasarkan NIP</h2>
			
			<form th:action="@{/viewpegawai}" method ="GET">
			Masukkan Nomor Induk Pegawai:<br>
			<input type="text" name="nipPegawai"/>
			<button type="submit">Lihat</button>
			</form>
			
			<h2>Lihat Detail Jabatan</h2>
				<form th:action="@{/jabatan/view}" method="GET">
					<select name="idJabatan">
			  		<option th:each="jabatanPegawai : ${listJabatan}" th:value="${jabatanPegawai.id}" th:text="${jabatanPegawai.nama}"></option>
					</select>
					<br><br>
					<button type="submit">Lihat</button>
				</form>
		</body>
	</html>

