<!DOCTYPE html>
	<html xmlns:th="htpp://www.thymeleaf.org">
		<head>
			<Object th:include="fragments/fragment :: head"></Object>
		</head>

		<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h2 th:text = "'Lihat Data Pegawai - ' + ${nipPegawai}"></h2>
		
		<table style = "width:70%" class="table table-striped table-bordered">
   			 <tr>
        		<td>NIP</td>
       			<td th:text="${pegawai.nip}"></td>
    		</tr>
   			<tr>
       			<td>Nama</td>
        		<td th:text="${pegawai.nama}"></td>
    		</tr>
   			<tr>
        		<td>Tempat Lahir</td>
        		<td th:text="${pegawai.tempatLahir}"></td>
    		</tr>
    		<tr>
        		<td>Tanggal Lahir</td>
        		<td th:text="${pegawai.tanggalLahir}"></td>
    		</tr>
    		<tr>
        		<td>Tahun Masuk</td>
        		<td th:text="${pegawai.tahunMasuk}"></td>
    		</tr>
    		<tr>
        		<td>Nama Instansi</td>
        		<td th:text="${pegawai.instansi.nama}+' - '+${pegawai.instansi.provinsi.nama}"></td>
    		</tr>
    		<tr >
        		<td>Jabatan</td>
        		<td >
            		<ul>
                		<li th:each="jabatanPegawai : ${pegawai.jabatanList}">
                    	<span th:text="${jabatanPegawai.nama}"></span>
                		</li>
            		</ul>
        		</td>
    		</tr>
    		<tr>
        		<td>Gaji</td>
        		<td th:text="'Rp. '+ ${gaji}"></td>
    		</tr>
		</table>
	</body>
</html>
	
	
