
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head><title th:text="${jabatan.nama}"></title></head>
	<body>
		<h2 th:text="'Lihat Data Jabatan - ' + ${namajabatan}"></h2>
		
		<table style="width:30%">
		    <tr>
		        <td>Nama</td>
		        <td th:text="${namajabatan}"></td>
		    </tr>
		    <tr>
		        <td>Deskripsi</td>
		        <td th:text="${deskripsijabatan}"></td>
		    </tr>
		    <tr>
		        <td>Gaji Pokok</td>
		        <td th:text="'Rp. '+ ${gajijabatan}"></td>
		    </tr>
		</table>
		<button>Ubah</button>
		<button>Hapus</button>
		
	</body>
</html>
	
	
